<a href="https://colab.research.google.com/github/JohnC0rd31r0/Vue-js/blob/main/Introdu%C3%A7%C3%A3o_ao_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color='blue'>Introdução ao Pandas</font>

Pandas também é uma biblioteca Python que fornece ferramentas de análise de dados e estruturas de dados de alta performance e fáceis de usar.
Por ser a principal e mais completa biblioteca para estes objetivos, Pandas é fundamental para Análise de Dados.

Pandas permite trabalhar de forma rápida e eficiente com arquivos do tipo csv, excel, txt, etc.

No código abaixo, os dados do ENEM 2019 são lidos e carregados numa estrutura do Pandas, para ser manipulado posteriormente. Os dados originais estão no formato [CSV](https://docs.python.org/pt-br/3/library/csv.html).

In [ ]:

import pandas as pd # importa o módulo pandas

fonte = "https://github.com/alura-cursos/imersao-dados-2-2020/blob/master/MICRODADOS_ENEM_2019_SAMPLE_43278.csv?raw=true"

dados = pd.read_csv(fonte) #le o arquivo no formato csv
dados.head() # mostra as primeiras 5 linhas do arquivo

In [ ]:
# Como saber o formato da base de dados?
# O formato é (linhas, colunas).
dados.shape

In [ ]:
# Mostra o nome da todas as colunas da tabela.
dados.columns.values

In [ ]:
# Mostra os dados de uma coluna especificada.
dados["SG_UF_RESIDENCIA"]

In [5]:
# Mostra os dados de várias colunas.
dados[["SG_UF_RESIDENCIA", "NO_MUNICIPIO_RESIDENCIA"]]

       SG_UF_RESIDENCIA NO_MUNICIPIO_RESIDENCIA
0                    PA                Redenção
1                    PA                  Marabá
2                    PA                   Belém
3                    PA      São Félix do Xingu
4                    PA              Ananindeua
...                 ...                     ...
127375               MG             Montalvânia
127376               BA         Barra da Estiva
127377               BA                Salvador
127378               BA            Simões Filho
127379               MG          Belo Horizonte

[127380 rows x 2 columns]

In [ ]:
# Exercício
# Mostre as informações de idade e sexo.

In [ ]:
# Valores únicos (não repetidos) de Unidade da Federação.
dados["SG_UF_RESIDENCIA"].unique()

In [ ]:
# Exercício
# Mostre os valores únicos (não repetidos) de idade

In [ ]:
# Temos inscritos de quantos estados da federação?
len(dados["SG_UF_RESIDENCIA"].unique())

In [ ]:
# Exercício
# Temos inscritos de quantas cidades diferentes?

In [ ]:
# Quantos inscritos de cada estado temos?
dados["SG_UF_RESIDENCIA"].value_counts()

In [ ]:
# Exercício
# Quantos inscritos de cada idade temos?

In [ ]:
# Gráfico por idade.
dados["NU_IDADE"].hist(bins = 20,figsize = (10,8))

In [ ]:
# Exercício
# Gráfico por UF

In [ ]:
# Como posso ver apenas os treineiros?
dados.query("IN_TREINEIRO == 1")

In [ ]:
# Como posso ver os inscritos que moram em Araquari?
dados.query('NO_MUNICIPIO_RESIDENCIA == "Araquari"')

In [ ]:
# Ver apenas alguns campos (idade, local de residencia) dos inscritos com 13 anos.
dados.query("NU_IDADE == 13")[["NU_IDADE","SG_UF_RESIDENCIA"]]

In [ ]:
# Alunos com 14 anos ou menos, por estado.
dados.query("NU_IDADE <= 14")["SG_UF_RESIDENCIA"].value_counts()

In [ ]:
# Alunos com 14 anos ou menos, por estado.
# Gráfico de pizza.
alunos_menor_quatorze = dados.query("NU_IDADE <= 14")
alunos_menor_quatorze["SG_UF_RESIDENCIA"].value_counts().plot.pie(figsize=(10,8))

In [ ]:
# Alunos com 14 anos ou menos, por estado.
# Gráfico de barras.
alunos_menor_quatorze = dados.query("NU_IDADE <= 14")
alunos_menor_quatorze["SG_UF_RESIDENCIA"].value_counts().plot.bar(figsize=(10,8))

In [ ]:
# Exercício
# Gráfico de pizza por idade

# Referências

* [Pandas (Site Oficial)](https://pandas.pydata.org/)
* [Seus primeiros passos como Data Scientist: Introdução ao Pandas!](https://medium.com/data-hackers/uma-introdu%C3%A7%C3%A3o-simples-ao-pandas-1e15eea37fa1)
* [Mineração de Dados usando pandas](https://minerandodados.com.br/analise-de-dados-com-python-usando-pandas/)